{% extends 'viewer/base.html' %}

{% block navbar %}
<li class="active"><a href="#">Main</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Projects</a></li>
<li><a href="#">Contact</a></li>
{% endblock %}

{% block sidebar %}
<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="{% url 'upload' %}">Upload</a></li>
  <li><a href="#">Menu 2</a></li>
  <li><a href="#">Menu 3</a></li>
</ul>
{% endblock %}

{% block content %}
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
  </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
     <h2>Latest update</h2>
     <p>{{ latest.latest }}</p> 
     <div class="table-responsive">{{url}}
      <table class="table table-hover">
       <thead>
        <tr>
         <th>Order Catalog Code</th>
         <th>Description</th>
         <th>Order Category</th>
         <th>Order Type</th>
         <th>Activity Type</th>
        </tr>
      </thead>
    {% for post in posts %}
      <tr>
        <td>{{ post.code }}</td>
        <td>{{ post.long_desc }}</td>
        <td>{{ post.order_cate }}</td>
        <td>{{ post.order_type }}</td>
        <td>{{ post.activity_type }}</td>
      </tr>
    {% endfor %}
      </table>
     </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Some content in menu 1.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Some content in menu 2.</p>
    </div>
  </div>
{% endblock %}